<h1>Vehicles ssss</h1>
<div class="well">
  <%= link_to "New Vehicle", new_vehicle_path, class: "btn btn-primary" %>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>UUID</th>
    </tr>
  </thead>
  <tbody>
    <% if @vehicles.size == 0 %>
      <tr>
        <td colspan="6">No vehicles found.</td>
      </tr>
    <% else %>
      <% @vehicles.each do |vehicle| %>
        <tr>
          <td><%= vehicle.uuid %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
